
:root {
    --primary-color: #0d6efd; 
    --info-color: #0dcaf0;   
    --success-color: #198754; 
    --warning-color: #ffc107; 
    --danger-color: #dc3545;  
    --light-gray: #f8f9fa;  
    --medium-gray: #dee2e6;  
    --dark-gray: #212529;  

    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
    background-color: #f4f7f9;
    font-family: var(--font-family-sans-serif);
    color: var(--dark-gray);
}

.card-header h4 {
    color: var(--dark-gray);
    font-weight: 600;
}

.card-header .fa-book {
    color: var(--info-color);
}

.form-label {
    font-weight: 500;
    color: #495057;
}

.form-control:focus, .btn-primary:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.table-responsive {
    border: 1px solid var(--medium-gray);
    border-radius: 0.375rem;
}

.table thead th {
    font-weight: 600;
    vertical-align: middle;
    border-bottom-width: 2px;
}

.table tbody tr:hover {
    background-color: rgba(0, 123, 255, 0.05); 
}

.table td, .table th {
    padding: 0.9rem; 
    vertical-align: middle;
}

.table td a {
    font-weight: 600;
    text-decoration: none;
    color: var(--primary-color);
}
.table td a:hover {
    text-decoration: underline;
}
.table td a small {
    font-weight: normal;
    color: #6c757d;
    display: block; 
}

.badge {
    font-size: 0.8em;
    font-weight: 700;
    padding: 0.5em 0.75em;
    border-radius: 0.375rem;
}


.change-table {
    background-color: #fff;
    font-size: 0.9em;
    margin: 0;
}

.change-table th {
    background-color: #e9ecef;
    padding: 0.5rem;
    text-align: center;
    font-weight: 600;
}

.change-table td {
    padding: 0.5rem;
    font-family: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    border: 1px solid #e9ecef;
}

.change-table .field {
    font-weight: bold;
    font-family: var(--font-family-sans-serif);
    background-color: var(--light-gray);
    color: #343a40;
    width: 25%; 
}

.change-table .old-value {
    background-color: #ffebe9; 
    color: #c02a16;
    text-decoration: line-through; 
}

.change-table .new-value {
    background-color: #e6ffec;
    color: #1c6c31;
}

.old-value del, .new-value del {
    background-color: #f7a8a2;
    text-decoration: none;
}
.old-value ins, .new-value ins {
    background-color: #a0e8a2;
    text-decoration: none;
}


.pagination .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.pagination .page-link {
    color: var(--primary-color);
}
.pagination .page-link:hover {
    color: #0056b3;
}

.fa-info-circle {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #6c757d;
}
